.boton {
    margin-top: 10px;
    background-color: #FFFEC4;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    padding: 0;
    font-size: x-large;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

.boton:hover {
    color: red;
    box-shadow: 10px 10px lightblue;
    cursor: pointer;
}
.centrar{
    display: flex;
    justify-content: center;
    width: 80%;
}
.derecha{
    display: flex;
    justify-content: flex-end;
    width: 80%;
}
.letras{
    font-size: x-large;
}
.tablaUser{
    padding: 10px 50px;
}